.main-container {
  max-width: 900px;
  height: 420px;
  margin: 100px auto;
  padding: 30px 60px;
  border-radius: 10px;
  background: #fce6dc;
}

body {
  background: center/100%
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/051/426/original/pexels-james-wheeler-1486974.jpg?1667554960");
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: #6f4785;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #6f4785;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input {
  text-transform: capitalize;
}

.date-time {
  text-align: left;
  font-weight: lighter;
  color: #6f4785;
  font-size: 24;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.current-day {
  border: 3px solid #906173;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 10px 5px 5px;
  margin: 0px auto;
}

.location {
  margin-bottom: 0px;
}

.days {
  text-align: center;
  font-weight: 300px;
  color: #6f4785;
  font-size: 48;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.element,
.day-of-week,
.weather {
  text-align: center;
  font-weight: bolder;
  color: #6f4785;
  font-size: 48;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.units {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
  font-weight: bold;
}
.current-temp {
  text-align: center;
  font-weight: 400px;
  color: #6f4785;
  font-size: 36px;
  margin-top: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
